Source: rockchip-pulseaudio-config
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: libs
Priority: optional
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               pandoc,

Package: rockchip-pulseaudio-config
Architecture: all
Priority: optional
Depends: ${misc:Depends},
Description: Rockchip specific PulseAudio config
 This package provides Rockchip PulseAudio config.
